/* ==========================================================================
    JOOMLA MODULES
   ========================================================================== */
.module {
  /* Remove default bullets on lists inside modules  */
}
.module ul, ul.category-module{
  list-style-type: none;
  margin-left: 0px;
}
ul.latestnews, .tagspopular ul {
  list-style: none;
}
.section-container > section .content {
  overflow: hidden;
}
.section-container > section .content > .button:last-child {
  padding-bottom: 0.75em !important;
  float: right;
}
/* ==========================================================================
    JOOMLA CONTENT
   ========================================================================== */
ul.inline {
  margin-bottom: 5px;
}

ul.inline li {
  display: inline-block;
  margin-right: 3px;
  padding-right: 8px;
  font-size: 0.85em;
  font-weight: lighter;
  font-style: italic;
  border-right: 1px solid #999;
  line-height: 1;
}

ul.inline li:last-child {
  border-right: none;
}

.actions {
  float: right;
}

ul.actions, ul.pager.pagenav, ul.tags {
  list-style: none;
  margin-left: 0;
}

ul.actions li {
  display: inline;
  margin-right: 5px;
}

ul.actions li a {
  display: inline-block;
  zoom: 1;
  display: inline;
  padding-right: 3px;
}
ul.actions li a i{
    color : black;
}
ul.pager.pagenav li {
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin-right: 10px;
}

.pagination {
  display: block;
  height: auto;
  margin-left: 0;
  margin-bottom: 10px;
  overflow: hidden;
}

.pagination ul {
  text-align: center;
}

.pagination ul li {
  display: block;
  float: left;
  height: auto;
  color: #222222;
  font-size: 0.875em;
  margin-left: 0.3125em;
}

.pagination ul li a {
  display: block;
  padding: 0.0625em 0.4375em 0.0625em;
  color: #999999;
}

.pagination ul li:hover a,
.pagination ul li a:focus {
  background: #27AE60;
  color: white;
}

.pagination ul li.unavailable a {
  cursor: default;
  color: #999999;
}

.pagination ul li.unavailable:hover a, .pagination li.unavailable a:focus {
  background: transparent;
}

.pagination ul li.current a {
  background: #27AE60;
  color: white;
  font-weight: bold;
  cursor: default;
}

.pagination ul li.current a:hover, .pagination li.current a:focus {
  background: #27AE60;
  color: white;
}
ul.category.list-striped{
    list-style: none;
}
/* ==========================================================================
    FOOTER
   ========================================================================== */
footer.row {
  padding: .875em 0;
}

.copyright {
  display: inline-block;
  margin-right: -.25em;
  vertical-align: top;
}

ul.right, ul.mysocial {
  margin: 0;
  padding: 0;
}
ul.mysocial {
  list-style: none;
}
ul.mysocial li {
  display: inline-block;
}

p.voetnoot{
    font-size:0.7em;
}

.button.mysuccess{
    background-color: CornflowerBlue;
}
.button.mysuccess:hover, .button.mysuccess:focus{
    background-color: Crimson ;
}
h1, h2, h3, h4, h5, h6 {
    color:darkblue;}

ul.foundout-article-info, ul.foundout-blog-view{
    list-style:none outside;
    padding-left: 0;
    margin-left: 0;
}
/*-------------------------
end tooltips
_________________________*/
.tooltip.in {
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.tooltip.top {
	margin-top: -3px;
	padding: 5px 0;
}
.tooltip.right {
	margin-left: 3px;
	padding: 0 5px;
}
.tooltip.bottom {
	margin-top: 3px;
	padding: 5px 0;
}
.tooltip.left {
	margin-left: -3px;
	padding: 0 5px;
}
.tooltip-inner {
	max-width: 200px;
	padding: 8px;
	color: #d04526;
	text-align: left;
	text-decoration: none;
	background-color: green;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.tooltip-arrow {
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
}
.tooltip.top .tooltip-arrow {
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 5px 5px 0;
	border-top-color: lightcoral;
}
.tooltip.right .tooltip-arrow {
	top: 50%;
	left: 0;
	margin-top: -5px;
	border-width: 5px 5px 5px 0;
	border-right-color: #000;
}
.tooltip.left .tooltip-arrow {
	top: 50%;
	right: 0;
	margin-top: -5px;
	border-width: 5px 0 5px 5px;
	border-left-color: #000;
}
.tooltip.bottom .tooltip-arrow {
	top: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 0 5px 5px;
	border-bottom-color: #000;
}
.element-invisible {
	position: absolute;
	padding: 0;
	margin: 0;
	border: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}
/*-------------------------
end tooltips
_________________________*/
#filter-search {
	vertical-align: top;
}
.input-mini {
	width: 60px;
}
.mygrey, .contact-form{
    background-color: lightgray;
}
.mygrey{
    display: table;
    width: 100%;
    padding-bottom: 1em;
}

.contain-to-grid{
    background-color: #fff;
}
.submenu li{
    min-width: 250px;
}
.foundout6-inline{
    display: inline;
}
.title-bar.hide-for-medium{
    margin-bottom: 1em;
}
section.myrow{
    max-width: 1200px;
    margin: 0 auto;
}
.dropdown ul{
    list-style-type: none;
    color: grey;
}